[Unit]
Description=Communication history daemon
After=pre-user-session.target booster-qt5.service
Requires=dbus.socket booster-qt5.service

[Service]
ExecStart=/usr/bin/invoker -o --type=qt5 /usr/bin/commhistoryd
Restart=always

[Install]
WantedBy=user-session.target
